body {
  background-color: black;
  align-items: center;
  margin: auto;
}

img {
display: block;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;

  color: white;
  text-align: center;
  margin: auto;
}

h2 {
  font-family: 'Charm', cursive;
  font-size: 35px;
  color: white;
  text-align: center;
}
 button {
  margin: auto;

 }

 #story {
  color: white;
  text-align: center;
 }

 #cast {
  margin: auto;
 }

 #option-one {

 }

 #option-two {

}